html,
body,
#main {
  margin: 0;
  padding: 0;
}

#main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $maxWidthDesktop;
}
