#store-badges {
  img {
    height: 40px;

  }
  & >:not(:first-child) {
    margin-left: 20px;
  }

  &.disabled {
    img {
      opacity: 0.3;
    }
  }

  &.small {
    img {
      height: 32px;

    }
    & >:not(:first-child) {
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: $tabletBreakpoint) {
  #synopsis {
    #store-badges:not(.small) {
      display: flex;
      flex-direction: column;

      img {
        height: inherit !important;
        width: 140px !important;
        margin-left: 0 !important;
      }
    }
  }
}

@media screen and (max-width: $mobileBreakpoint) {
  #store-badges:not(.small) {
    display: flex;
    flex-direction: column;

    img {
      height: inherit !important;
      width: 140px !important;
      margin-left: 0 !important;
    }
  }
}
