#features {
  .tag-line {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    > * {
      text-align: center;
      max-width: 380px;
    }
  }

  .main-features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .feature {
      height: $featureSize;
      width: $featureSize;
      flex: 0 0 $featureSize;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      padding-top: 0.1 * $featureSize;
      margin: 4% auto;
      border-radius: 12px;
      background-color: $lightGray;

      > * {
        max-width: 0.55 * $featureSize;
      }

      p {
        font-size: 0.7em;
        text-align: center;
      }

      .feature-img {
        display: flex;
        height: $featureImgOutRatio * $featureSize;
        width: $featureImgOutRatio * $featureSize;
        margin-bottom: 15%;
        border-radius: 12px;
        background-color: white;

        img {
          max-height: $featureImgRatio * $featureSize;
          max-width: $featureImgRatio * $featureSize;
          margin: auto;
        }
      }
    }
  }
}
