#footer {
  padding: 6%;
  border-radius: 24px;
  background-color: $lightGray;
  margin-top: 10%;

  hr.separator {
    display: block;
    height: 1px;
    border: 0;
    color: $darkGray;
    border-color: $darkGray;
    background-color: $darkGray;
    margin: 1em 0;
    padding: 0;
    opacity: 0.3;
  }

  p {
    font-size: 0.8em;
    margin: 0;
  }

  .navigation {
    margin-bottom: 6%;

    .navigation-items {
      list-style-type: none;
      padding: 0;
      margin: 0;
      line-height: 0.7em;

      .navigation-item {
        color: $darkGray;
        font-size: 0.8em;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
