.hero-container {
  min-height: $heroHeight;
  width: 100%;
  margin-bottom: $heroOffsetY;

  .store-badges-desktop {
    margin-top: -0.8 * $heroOffsetY;
    margin-left: 5%;
  }

  .store-badges-mobile {
    display: none;
  }

  #hero {
    position: static;
    flex: 1 0 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: $heroHeight;
    border-radius: 24px;
    background-color: $lightGray;
    margin-bottom: $heroOffsetY;

    &::before,
    &::after {
      border-radius: 24px;
      background-color: $lightGray;
    }

    .hero-left {
      flex: 1;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      max-width: 370px;

      .mobile-container {
        display: flex;

        .mobile-left,
        .mobile-right {
          flex: 1;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
        }

        .mobile-right {
          display: none;
          margin-left: 8%;
        }
      }

      > * {
        margin-left: 16%;
        margin-right: 16%;
      }
    }

    .hero-logo-img {
      height: $heroLogoImgSize;
      width: $heroLogoImgSize;
      border-radius: 20%;
      overflow: hidden;

      * {
        border-radius: 20%;
      }
    }

    .img-cutter {
      display: none;
      height: $heroMobileImageHeight * 0.6;
      border-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .hero-main-img,
    .hero-secondary-img {
      height: $heroMainImageHeight;
      width: $heroMainImageWidth;

      &.desktop {
        position: absolute !important;
        top: $heroOffsetY;
        right: $heroOffsetX;
        z-index: 1;
      }

      &.mobile {
        height: $heroMobileImageHeight !important;
        width: $heroMobileImageWidth !important;
      }
    }

    .hero-loader {
      font-size: xxx-large;
      text-align: center;
      width: 100%;
    }
  }
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media screen and (max-width: 0.9 * $maxWidthDesktop) {
  .hero-container {
    .store-badges-desktop {
      display: none !important;
    }

    .store-badges-mobile {
      display: inherit !important;
    }

    #hero {
      margin-bottom: 2.5em;
      background-image: none !important;

      &::before,
      &::after {
        background-image: none !important;
      }

      .hero-main-img,
      .hero-secondary-img {
        &.desktop {
          top: $heroOffsetYTablet;
          right: $heroOffsetXTablet;
        }
      }
    }
  }
}

@media screen and (max-width: $mobileBreakpoint) {
  .hero-container {
    #hero {
      height: inherit !important;
      overflow: hidden;

      h1 {
        max-width: 70%;
      }

      .hero-left {
        max-width: inherit !important;

        .mobile-left,
        .mobile-right {
          flex: 1 1 50%;
        }

        .mobile-right {
          display: inherit !important;
        }

        > * {
          margin-left: 8%;
          margin-right: 8%;
        }
      }

      .img-cutter {
        display: inherit !important;
      }

      .hero-logo-img {
        margin-top: 8%;
      }

      .hero-main-img.desktop {
        display: none !important;
      }
    }
  }
}
