@use "sass:math";

#team {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2%;

  .team-board {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .team-member {
      width: $teamMemberSize;
      flex: 0 0 $teamMemberSize;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      padding-top: 4%;
      margin-bottom: 4%;

      [class^='photo-'] {
        display: block;
        height: $teamPhotoSize !important;
        width: $teamPhotoSize !important;
        border-radius: math.div($teamPhotoSize, 2);
        background-color: $lightGray;
        margin-bottom: 10%;
      }

      h5 {
        margin-bottom: 5%;
      }

      p {
        font-size: 0.7em;
      }
    }
  }
}

/* Fix for MS Edge (legacy) */
@supports (-ms-ime-align: auto) {
  #team {
    .team-board {
      justify-content: center !important;

      .team-member {
        margin: auto;
      }
    }
  }
}
