.not-found-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'not-found-text not-found-image'
    'not-found-button not-found-image';
  height: 100vh;
  padding: 1.5em;
  width: 100%;
}

.not-found-text {
  display: flex;
  flex-direction: column;
  grid-area: not-found-text;
  align-items: start;
  justify-content: end;

  * {
    text-align: left;
  }

  p {
    min-height: 2.5em;
  }
}

.not-found-image {
  display: flex;
  grid-area: not-found-image;
  place-items: center;
}

.not-found-button {
  display: flex;
  grid-area: not-found-button;
  align-items: start;
  justify-content: start;
}

img.not-found {
  margin: 0 auto;
  object-fit: cover;
  padding: 0;
  width: 100%;
}

a.button {
  display: inline-block;
  color: $white;
  background-color: $purple;
  text-decoration: none;
  padding: 14px 28px;
  border-radius: 2px;
}

.cursor {
  display: inline-block;
  background: $white;
  line-height: 17px;
  margin-left: 3px;
  animation: blink 0.8s infinite;
  width: 7px;
  height: 15px;
}

@keyframes blink {
  0% {background: $darkGray}
  50% {background: $white}
  100% {background: $darkGray}
}

@media screen and (max-width: $mobileBreakpoint) {
  .not-found-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 4fr 1fr;
    grid-template-areas:
      'not-found-text'
      'not-found-image'
      'not-found-button';
    padding: 0.5em;
  }

  .not-found-text {
    align-items: center;
    justify-content: end;

    * {
      text-align: center;
    }
  }

  .not-found-button {
    align-items: start;
    justify-content: center;
  }
}
