@import './home/careers.scss';
@import './home/features.scss';
@import './home/footer.scss';
@import './home/hero.scss';
@import './home/synopsis.scss';
@import './home/team.scss';

p {
  color: $darkGray;
}

span.highlight {
  color: $purple;
}

[class^="flex-"] {
  display: flex;
}

.page-padded {
  position: relative;
  width: 100%;
  padding: $outterPadding;
}
