form.join-beta {
  background-color: $lightGray;
  border-radius: $globalBorderRadius;
}

#footer.join-beta {
  margin-top: 0;
  margin-bottom: $outterPadding;
}

@media screen and (max-width: $mobileBreakpoint) {
  form.join-beta {
    padding: $globalPadding * 2;
  }

  #footer.join-beta {
    padding: $globalPadding * 2;
  }
}
