@mixin static-page {
  width: 100%;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding-bottom: $staticPadding;
  padding-left: $staticPadding;
  padding-right: $staticPadding;
  padding-top: $mobilePadding;
}

.static-page {
  @include static-page;
}

#static-page {
  .page-content {
    ul,
    ol {
      li {
        margin-bottom: $mdListBottomMargin;
      }
    }
  }

  .page-toc {
    margin: 3em 0;

    .page-toc-content {
      ul,
      ol {
        li {
          margin-bottom: $mdListBottomMargin;

          p {
            margin-bottom: $mdListBottomMargin;
          }

          ul {
            margin-top: 0;
          }
        }
      }
    }
  }
}

.in-app {
  background-color: $lightGray;

  #static-page {
    padding-bottom: $mobilePadding;
    padding-left: $mobilePadding;
    padding-right: $mobilePadding;
    padding-top: $mobilePadding;

    article h1 {
      display: none;
    }
  }
}
