#static-page {
  width: 100%;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;

  .page-content {
    ul,
    ol {
      li {
        margin-bottom: $mdListBottomMargin;
      }
    }
  }

  .page-toc {
    margin: 3em 0;

    .page-toc-content {
      ul,
      ol {
        li {
          margin-bottom: $mdListBottomMargin;

          p {
            margin-bottom: $mdListBottomMargin;
          }

          ul {
            margin-top: 0;
          }
        }
      }
    }
  }
}

.in-app {
  background-color: $lightGray;

  #static-page {
    padding: 20px;

    article h1 {
      display: none;
    }
  }
}
