/* Global Styles */
@import './variables';
@import './components/layout';
@import './components/form';
@import './components/language-selector';
@import './components/store-badges';
@import './pages/index';
@import './pages/404';
@import './pages/join-beta';
@import './pages/static-page';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: $defaultLinkColor;
  text-decoration: none;
  background-color: initial;

  &:active,
  &:hover {
    outline-width: 0;
  }

  &:hover {
    text-decoration: underline;
  }
}

p,
li {
  color: $darkGray;
}

mark {
  color: $purple;
  background-color: transparent;
}

.uppercase {
  text-transform: uppercase;
}
