/* Global Styles */
@import './variables.scss';
@import './components/layout.scss';
@import './components/language-selector.scss';
@import './components/store-badges.scss';
@import './pages/index.scss';
@import './pages/404.scss';
@import './pages/static-page.scss';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p {
  color: $darkGray;
}

mark {
  color: $purple;
  background-color: unset;
}
