/* Global Styles */
@import './variables.scss';
@import './components/layout.scss';
@import './components/language-selector.scss';
@import './components/store-badges.scss';
@import './pages/index.scss';
@import './pages/404.scss';
@import './pages/static-page.scss';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: $defaultLinkColor;
  text-decoration: none;
  background-color: initial;

  &:active,
  &:hover {
    outline-width: 0;
  }

  &:hover {
    text-decoration: underline;
  }
}

p {
  color: $darkGray;
}

mark {
  color: $purple;
  background-color: unset;
}

.uppercase {
  text-transform: uppercase;
}
