@use 'sass:math';

// Assets
$imagesBasePath: '../images';
$chevronIcon: url('#{$imagesBasePath}/chevron-icon.svg');
$globeIcon: url('#{$imagesBasePath}/globe-icon.svg');
// Colors
$black: #000;
$blue: #39a4f2;
$darkBlue: #263238;
$darkerGray: #474545;
$darkGray: #6a6767;
$defaultLinkColor: #0366d6;
$gray: #c4c4c4;
$lightBlue: #84bff1;
$lighterBlue: #e0effb;
$lighterGray: #e5e5e5;
$lightGray: #eff1f3;
$purple: #7239f2;
$red: #e30000;
$white: #fff;
$lightBlack: #181a1b;
$sepia: #bbb6a9;
// Other
$boxMinWidth: 300px;
$featureImgOutRatio: 0.275;
$featureImgRatio: 0.15;
$featureSize: 270px;
$formElementPadding: 16px;
$globalBorderRadius: 24px;
$globalPadding: 6%;
$globeIconSize: 15px;
$heroHeight: 482px;
$heroLogoImgSize: 72px;
$heroMainImageHeight: 480px;
$heroMainImageMobile: 0.7;
$heroMainImageWidth: 220px;
$heroMobileImageHeight: $heroMainImageMobile * $heroMainImageHeight;
$heroMobileImageWidth: $heroMainImageMobile * $heroMainImageWidth;
$heroOffsetX: 290px;
$heroOffsetXTablet: 10%;
$heroOffsetY: 155px;
$heroOffsetYTablet: 60px;
$maxWidthDesktop: 1280px;
$mdListBottomMargin: 0.5em;
$mobileBreakpoint: 647px;
$mobilePadding: 20px;
$outterPadding: 24px;
$staticPadding: 45px;
$synopsisContainerRatio: 0.75;
$synopsisImgHeight: 520px;
$synopsisImgOffset: math.div(
  (1 - $synopsisContainerRatio) * $synopsisImgHeight,
  2
);
$tabletBreakpoint: 961px;
$teamMemberSize: 260px;
$teamPhotoSize: 0.75 * $teamMemberSize;
