$maxWidthDesktop: 1280px;
$outterPadding: 24px;
$lightGray: #fafafa;
$darkGray: #6a6767;
$purple: #7239f2;
$heroHeight: 482px;
$hero-bg-img: url('../images/hero-bg.jpg');
$heroLogoImgSize: 72px;
$heroOffsetY: 185px;
$heroOffsetX: 305px;
$featureSize: 270px;
