$chevronIcon: url('../images/chevron-icon.svg');
$globeIcon: url('../images/globe-icon.svg');
$globeIconSize: 15px;
$maxWidthDesktop: 1280px;
$tabletBreakpoint: 961px;
$mobileBreakpoint: 647px;
$outterPadding: 24px;
$lightGray: #fafafa;
$darkGray: #6a6767;
$purple: #7239f2;
$blue: #39a4f2;
$heroHeight: 482px;
$heroLogoImgSize: 72px;
$heroMainImageHeight: 480px;
$heroMainImageWidth: 220px;
$heroMainImageMobile: 0.7;
$heroMobileImageHeight: $heroMainImageMobile * $heroMainImageHeight;
$heroMobileImageWidth: $heroMainImageMobile * $heroMainImageWidth;
$heroOffsetY: 155px;
$heroOffsetX: 290px;
$featureSize: 270px;
$featureImgOutRatio: 0.275;
$featureImgRatio: 0.15;
$synopsisImgHeight: 520px;
$synopsisContainerRatio: 0.75;
$synopsisImgOffset: (1 - $synopsisContainerRatio) * $synopsisImgHeight / 2;
$boxMinWidth: 300px;
$teamMemberSize: 260px;
$teamPhotoSize: 0.75 * $teamMemberSize;
